<ion-view>
	<ion-content>

	<div class="background">
		<h1>WEATHER FORECAST</h1>

			<!-- Container -->
			<div class="container">

				<!-- City -->
				<div class="city">
					<div class="title">
						<h2>{{city}}</h2>
						<h3>{{country | uppercase}}</h3>
					</div>
					<div class="days">
						<div ng-repeat="(key,value) in weatherForecast">
							<h1 ng-if="key === dateOrder[0]" id="{{key}}" ng-click="selectDay(key)" class="selected" >{{key}}</h1>
							<h1 ng-if="key != dateOrder[0]" id="{{key}}" ng-click="selectDay(key)">{{key}}</h1>
						</div>
					</div>
				</div>
				<!-- //City -->



				<!-- Forecast -->
				<div class="forecast">
					<div>
					<h4 id="previous" ng-click="previousTime()">< </h4>
					<h4>{{selectedTime}}</h4>
					<h4 id="next" ng-click="nextTime()"> ></h4>
					</div>
					<div class="today-weather">

						<p>Cloudiness:
						{{item.clouds.all}} %</p>
						<!--{{value.wind.deg}}°,--> 
						<p>Wind: {{item.wind.speed}} m/s</p>

						<p>Weather:
						<!--<p>{{item.weather[0].main}}</p>-->
						{{item.weather[0].description}}</p>

						 <p>Humidity: {{item.info.humidity}} %</p>

						<p>Temp: {{item.info.temp}} °C</p>
						<p>Max Temp: {{item.info.temp_max}} °C</p>
						<p>Min Temp: {{item.info.temp_min}} °C</p>
						<p>Pressure: {{item.info.pressure}} hPa</p>
					</div>
				</div>
				<!-- //Forecast -->
				<div class="clear"></div>

			</div>
			<!-- //Container -->

		<!-- Footer -->
		<div class="footer">
		</div>
	</div>
	<!-- //Footer -->
	</ion-content>
</ion-view>